nav {
	position: fixed;
	width: 100%;
	height: 50px;
	background-color: rgba(0,0,0,.5);
	z-index: 99;
	text-align: center;
}

nav a {
	text-decoration: none;
	color: #fff;
	margin-left: 30px;
	line-height: 50px;
	
}


.felxy{
	display: flex;
	background-color: #ff6833;
	width: 100%;
}

.flexy>div {
  background-color: black;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  float: left;
	
}


.sect {
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	
}

.part{
	height: 5%;
	background-color: black;
	
}
.sectionOne {
	background-image: url("images/lk.jpg");
}
.sectionTwo {
	background-image: url("images/london.jpg");
}
.sectionThree {
	background-image: url("images/Train.jpg");
}

.sectionFour {
background-image: url("images/market.jpg")
}

html, body {
	height: 100%;
}
* {margin:0;}