body {
	font-family: monospace, cursive, sans-serif;
	font-size: 15px;
	line-height:1.5;
	padding:0;
	margin:0;
	background-color:#0D8D96;
	color: #E8EFF9;
}


 /* container of index */
.container{
	width: 100%;
	margin: auto;
	overflow: hidden;
}

.container p {
	color: white;
}

header{
	background: url("images/milky3.jpg");
	color: #fffffff;
	padding-top: 30px;
	min-height: 70px;
	border-bottom: #5C2C03 5px solid;
}

header h1{
	text-align: center;
}

header a{
	color:#fffffff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}

ul {
	margin:0;
	padding:0;	
}


header li {
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
}

header #logo {
	float: left;
	
}

header #logo h1{
	margin: 0;
}


.current a{
	color:#e8491d;
	font-weight: bold;
}
header a:hover {
	color: #F1798C;
	font-weight: bold;
}


#content {
	min-height: 600px;
	background: url('images/milky3.jpg') no-repeat 0 -300px;
}

#content h1{
	color: white;
	text-align: center;
	margin-top: 100px;
	font-size: 40px;
	margin-bottom:10px;
}
#content p {
	font-size: 20px;
	text-align: center;
}

#infobox {
	padding: 7px;
	color: white;
	background: black;
}

#infobox h1 {
	float: left;
	
}

#infobox form {
	float:right;
	margin-top: 15px;
}

#infobox input[type="email"]{
	padding: 3px;
	height: 31px;
	width: 230px;
}

.button1{
	height: 40px;
	background: #4d49cf;
	border: 1px solid grey;
	padding-left: 15px;
	padding-right: 15px;
	color: #D6CEE4;
}

#boxes{
	margin-top: 20px;
}

#boxes .box{
	float:left;
	width: 30%;
	padding: 5px;
	text-align: center;
}

#scroll {
	max-width: 100%;
	overflow: hidden;
	text-align:center;
	font-size:15px;
	background: url('images/milkyway.jpg');
}
#scroll h5 {
	font-size: 2em;
}
#scroll h4 {
	font-size: 1.6em;
	border-bottom: 3px solid black;
}

#scroll .box{
	float:left;
	padding: 7px;
	width: 30%;
	color: white;	
	background-color: #8F88AC;
	border: 3px solid #1D0F56;
}
#scroll .box img {
	width:100%;
}

#scroll p {
	width: 100%;
	color: #0D2C5A;
	background: #2B6673;
}





footer {
	text-align: center;
}

/* about page */
/* google maps  */

	  
#title3 {
  position: absolute;
  text-align: center;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: white;
}

#map {
  height: 500px;
  width: 90%;
  border-color: #5dafa1;
  padding: 5px;
  border-radius: 5px;
  background-color: #5dafa1;
}

#pac-input {
	left: 50%;
	height: 10%;
	text-align:center;
}   

/* breakpoints */

@media screen and (max-width:1000px){
#boxes{
		background-color: #2E3F57;
	}
	#scroll .box {
		width:100%;
		
	}
	#scroll .box img {
		width:90%;
	}
}
